html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin: 1em;
    height: 100%;
    font-size: 100%;
    text-align: center;
    padding-top: 30px;
}

div#calendar {
    height:100%;
}


.calendar{
    border:solid #4285F4;
    border-width:4px;
    border-radius: 10px;
    background-color:#75DDFF;
    width:80%;
    height:75%;
    padding:4px;
    border-spacing:4px;
    margin: 0 auto;
}

table {
    table-layout: fixed;
}

.calendar td {
    border:solid #4285F4;
    border-width:2px;
    border-radius: 4px;
    vertical-align: top;
    text-align: right;
    width: 10%;
    height: 15%;
}

.calendar tr {
    width: 10%;
    height: 15%;
}

.weekdays td {
    text-align: center;
    padding-top: 20px;
}

#date {
    float: left;
}

#dateDisplay {
    width: 100%;
    /*background-color:green;*/
    float: left;
}

#previous {
    margin-left: 40%;
    float: left;
}

#next {
    float:left;
}

#post {
    width: 50%;
    text-align: left;
    margin: 20px auto;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.red {
    color: red;
}

